.footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: white;
    padding: 200px 0px 0px;
}

.links ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 16px;
    font-size: 16px;
}
.links h5 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 55px;
    padding-left: 10px;
    line-height: .8;
}
.logo_footer {
    margin-bottom: 40px;
}
 h5::before {
    content: "";
    width: 3px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    margin-left: -10px;
}
ul {
    list-style-type: none;
    padding-left: 0 !important;
    margin: 0;
}

.about p {
    padding: 0 80px 20px 0;
}
.btn-email {
    height: 50px;
    width: 50px;
    background: #fb5b29 !important;
    color: white;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 1;
  }
  .form-group{
    margin-bottom: 16px;
    max-width: 430px !important;
  }
  .form-control{
    min-height: 60px;
    border-radius: 10px !important;
    padding: 6px 12px !important;
  }
  .footer-bottom{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 80px;
    padding: 30px 0 20px 0;
    position: relative;
  }
  .icon-social{
    width: 37px;
    height: 37px;
    text-align: center;
    display: block;
    line-height: 34px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    margin-right: 10px;
    transition: .4s all
  }
  .app-btn li{
    list-style-type: none;
    margin: 0px 20px 0px 0px;
  }